// базовые стили
body {
  min-width: $min-width;
  font-family: $font;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
}

a {
  color: $link-c;
}

// section {
//   position: relative;
//   padding: 70px 0;
//   h2 {
//     margin: 0;
//     margin-bottom: 20px;
//     text-align: center;
//     text-transform: uppercase;
//     font-size: 2em;
//     font-weight: 400;
//   }
// }
