// Переменные
// $bg-c: #206058;
// $bg-c-port: #0C5952;
// $bg-c-foot: #0D2623;

// $color-light: #B1F5FF;
// $color-light-dk: #7BF5FF;
// $color-light-bl: #B3CFF2;

// $font: 'Open Sans', Helvetica, Arial, sans-serif;

// $min-width: 320px;
// $height-header: 480px;
$min-width: 320px;
$xs-min: 480px;
$xxs-max: ($xs-min - 1);
$sm-min: 768px;
$xs-max: ($sm-min - 1);
$md-min: 992px;
$sm-max: ($md-min - 1);
$lg-min: 1020px;
$md-max: ($lg-min - 1);
// Usage
// @media (max-width: $xs-max) { ... }
// @media (min-width: $sm-min) { ... }
// @media (max-width: $sm-max) { ... }
// @media (min-width: $md-min) { ... }
// @media (max-width: $md-max) { ... }
// @media (min-width: $lg-min) { ... }

$bg-c: #6451d5;
$bg-foot: #2a2546;
$sect-bg-c: #efefef;
$desc-c: #bcb3f2;
$link-c: #382d78;
$link-h: #32286c;
$link-foot: #a39ebe;
$btn-c: $link-c;
$btn-h: $link-h;
$btn-a: rgba(255, 255, 255, .3);
$text-c: #555;
$text-onw-c: #404040;
$border-c: #a7a7a7;
$input-c: #b2b2b2;
$input-h: #7f7f7f;
$radio-bg: #dadada;
$radio-bgh: #c4c4c4;
$radio-bga: #ededed;
$radio-cbga: rgba(182, 179, 202, .3);

$font:  Tahoma, Verdana, sans-serif;
$font-b: 'Trebuchet MS', Tahoma, sans-serif;
