<footer class="page-footer">
  <div class="l-container l-flex">
    <div class="footer-logo">
      <a href="#" class="logo"><img src="img/img-logo.png" height="82" width="182" alt="logo"></a>
      <p class="adds">197101, г. Санкт-Петербург,<br>пр. Кронверкский, д. 49</p>
    </div>
    <nav class="footer-nav">
      <div class="col-4">
        <div class="nav-head">Обучение</div>
        <ul>
          <li><a href="#">Расписание</a></li>
          <li><a href="#">Предметы</a></li>
          <li><a href="#">Практика</a></li>
        </ul>
      </div>
      <div class="col-4">
        <div class="nav-head">Выпускники</div>
        <ul>
          <li><a href="#">Достижения</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">Найти</a></li>
        </ul>
      </div>
      <div class="col-4">
        <div class="nav-head">Как поступить</div>
        <ul>
          <li><a href="#">На коммерцию</a></li>
          <li><a href="#">Целевой набор</a></li>
          <li><a href="#">На бюджет</a></li>
        </ul>
      </div>
      <div class="col-4">
        <div class="nav-head">Контакты</div>
        <ul>
          <li><a href="#">Обратная связь</a></li>
          <li><a href="#">Схема проезда</a></li>
          <li><a href="#">Телефон/факс</a></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
