<header class="page-header">
  <div class="l-container">
    <nav class="page-nav">
      <a href="#" class="logo"><img src="img/img-logo.png" height="82" width="182" alt="logo"></a>
      <ul>
        <li><a href="#">Программа обучения</a></li>
        <li><a href="#">Выпускники</a></li>
        <li><a href="#">Как поступить</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
    <section class="intro l-flex">
      <div class="intro-left">
        <div class="intro-title">Учеба еще никогда не была такой интересной!</div>
        <p class="intro-desc">Обучаем готовых к трудоустройству специалистов на теоретических и практических курсах.</p>
        <a href="#" class="btn">Подать заявку</a>
      </div>
      <img src="img/img-items.png" height="451" width="653" alt="items" class="intro-img">
    </section>
  </div>
</header>
