.features {
  padding-top: 50px;
  padding-bottom: 45px;
  text-align: center;
  background-color: $sect-bg-c;
}

.feature {
  margin-right: 30px;
  padding-top: 90px;
  &:nth-child(1) {
    @include m-icon($icon-adv-1);
  }
  &:nth-child(2) {
    @include m-icon($icon-adv-2);
  }
  &:nth-child(3) {
    @include m-icon($icon-adv-3);
  }
  &:last-child {
    margin-right: 0;
  }
  &-title {
    padding-bottom: 20px;
    font-family: $font-b;
    font-weight: bold;
    font-size: 22px;
  }
  &-desc {
    line-height: 24px;
    color: $text-c;
  }
}

.learning, .feedback {
  padding-top: 50px;
  padding-bottom: 70px;
}

.about-programm {
  position: absolute;
  right: 30px;
  top: 15px;
}

.table-about {
  td {
    &:first-child {
      min-width: 230px;
      font-family: $font-b;
      font-weight: bold;
      font-size: 22px;
      line-height: 24px;
      color: #000;
    }
    &:nth-child(2) {
      font-family: $font-b;
      font-weight: bold;
      font-size: 22px;
      line-height: 24px;
      color: #000;
    }
  }
}

.feedback {
  background-color: $sect-bg-c;
}

.feedform {
  max-width: 620px;
  flex-grow: 1;
}

.feedform-block {
  display: flex;
  justify-content: space-between;
  .label {
    width: 95px;
    margin-right: 10px;
    font-family: $font-b;
    font-weight: bold;
    line-height: 24px;
    text-align: right;
    padding-top: 17px;
  }
  .inputs {
    flex-grow: 1;
    padding: 15px 25px;
    margin-bottom: 25px;
    border: 2px solid $border-c;
    border-radius: 2px;
    outline: none;
    color: $text-onw-c;
  }
  .gender {
    border-color: transparent;
    label ~ label {
      margin-left: 60px;
    }
  }
  .btn {
    width: auto;
    margin-left: 105px;
    flex-grow: 1;
  }
}

.feedtext {
  width: 320px;
  margin-left: 30px;
  &-head {
    margin-bottom: 25px;
    font-family: $font-b;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
  }
  p {
    margin: 0;
    margin-bottom: 25px;
    color: $text-c;
    line-height: 24px;
    &:last-child {
      margin-top: 45px;
    }
    b {
      color: #000;
    }
  }
}
